.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form {
  display: flex;
  gap: 4px;
}

.gap {
  padding: 10px;
  text-align: center;
}
